@tailwind base;
@tailwind components;

html {
  font-family: 'Montserrat', 'sans-serif', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 1em;
}

a.primary {
@apply text-red-600 font-medium;

  &:hover {
  @apply text-red-800;
  }
}

.section-intro {
  background: rgb(37, 89, 205);
  background: linear-gradient(351deg, rgba(37, 89, 205, 1) 0%, rgba(28, 76, 200, 1) 31%, rgba(15, 56, 193, 1) 100%);
}

.intro-bg {
  background-image: url('/images/landing/hero-bg.svg');
}

.intro-clouds {
  background-image: url('/images/landing/hero-clouds.svg');
}

@tailwind utilities;
