@tailwind base;
@tailwind components;

html {
  font-family: 'Muli', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 1em;
  font-weight: 500;
}

br {
@apply my-4;
}

.hover-controller .hover-target {
  opacity: 0;
}

.hover-controller:hover .hover-target {
  opacity: 1;
}

.docs_content {
  :not(pre) > code[class*="language-"], pre[class*="language-"] {
  @apply bg-gray-100 m-6 p-6 shadow text-sm;
  }

  a {
  @apply border-b-2 border-gray-500 border-dotted pb-1;

    &:hover {
    @apply text-orange-600 border-orange-500;
    }
  }

  code {
  @apply bg-gray-300 font-mono px-2 py-1 rounded text-sm text-indigo-800;
  }

  pre > code {
  @apply px-0;
  }


  p {
  @apply mb-5 pr-10;
  }

  blockquote {
  @apply bg-gray-100 m-6 p-6 self-center shadow-lg;

    code {
    @apply bg-gray-200;
    }

    p {
    @apply mb-0 text-gray-800 inline-flex items-center;

      .icon {
      @apply mr-4;
        display: inline-block;
      }
    }

    svg {
      width: 32px;
      height: 32px;
    }

    .tip .icon svg path {
      fill: #68d391;
    }

    .info .icon svg path {
      fill: cornflowerblue;
    }

    .alert .icon svg path {
      fill: red;
    }

    .power .icon svg path {
      fill: #6A1B9A;
    }
  }

  h1 {
  @apply text-gray-700;
  }

  h1 + ul li {
    a {
    @apply text-gray-800 font-semibold border-none;
    }

    ul {
      li {
        a {
        @apply text-gray-800 font-normal border-none;
        }
      }
    }
  }

  h2 a::before {
    content: "⸗ ";
  @apply text-blue-300;
  }

  h3 {
  @apply font-medium text-2xl text-blue-600 mb-2;

    a {
    @apply text-blue-500 border-none;
    }
  }

  h4 {
  @apply font-bold mb-3 text-lg;

    a {
    @apply text-gray-800 border-none;
    }
  }

  .sublist {
    ol {
    @apply ml-10;
      list-style: decimal;

      li {
      @apply text-gray-700 pb-1;
      }
    }

    ul {
    @apply ml-4;
      list-style: none;

      & + p {
      @apply pb-6 pt-2;

        & + p {
        @apply -mt-4;
        }
      }

      li {
      @apply text-gray-700 mb-5 mt-2;

        @code: font-bold ml-2 my-2 p-2 shadow-lg bg-transparent;
        @codeColor: #c41111;

        > code:first-child {
        @apply @code;
          color: @codeColor;
        }

        p {
        @apply inline leading-loose;

          > code:first-child {
          @apply @code;
            color: @codeColor;
          }
        }

        &::before {
          content: "⸗ ";
        @apply text-gray-600;
        }

        h4 {
          display: inline-block;
        }
      }
    }
  }
}

ol {
@apply list-none;

  &:first-of-type {
    counter-reset: item;
  }

  li {
    counter-increment: item;
  }

  li:before {
    content: counter(item);
  @apply bg-gray-400 inline-block text-indigo-800 rounded-full mr-3 h-8 w-8 text-center ml-8;
  }
}

ul li {
@apply mb-2;

  > a::before {
    content: "⸗ ";
  @apply text-gray-500 text-xl font-light;
  }

  a {
  @apply text-gray-800 font-semibold;
  }

  ul {
  @apply ml-4;

    li {
    @apply mb-1;

      a {
      @apply text-gray-800 font-normal;
      }
    }
  }
}

.docs_toc {
  ul {
    li {
    @apply mb-4;

      > a::before {
        content: "⸗ ";
      @apply text-red-500 text-xl font-extrabold;
      }

      h4 {
      @apply uppercase text-gray-600 font-bold text-lg;
      }

      ul {
        li {
        @apply mb-1;
        }
      }

      a {
      @apply font-medium text-black;

        &:hover {
        @apply text-orange-600;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  @menu-width-small: 440px;

  .menu {
    width: @menu-width-small;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-@menu-width-small, 0, 0);
    transition: all 0.3s ease-in-out;

    .smartphone-menu-trigger {
      background-image: url(/images/toc.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
    @apply bg-red-500;
    }

    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);

      .smartphone-menu-trigger {
        pointer-events: none;
      }
    }
  }
}

@tailwind utilities;
