{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "kotlin",
          "html",
          "twig",
          "bash"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
